# General Python
build/
dist/
*.egg-info
.eggs/
__pycache__/

# Version from setuptools_scm
pyehm/_version.py

# coverage
.coverage
htmlcov/

# pytest
.pytest_cache/

# IDE
.idea/

# Notebooks
examples/.ipynb_checkpoints
