version: 2.1
workflows:
  version: 2
  test:
    jobs:
      - python-36
      - python-37
      - python-38
      - python-39
jobs:
  python-36: &test-template
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - restore_cache:
          key: v1-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}
      - run:
          name: Install Dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -e .[dev]
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}
      - run:
          name: Run Tests
          command: |
            . venv/bin/activate
            mkdir test-reports
            pytest --junitxml=test-reports/junit.xml --flake8 --cov --cov-report=xml:test-reports/coverage.xml pyehm
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
      - run:
          name: Upload Coverage Results
          command: |
            bash <(curl -s https://codecov.io/bash) \
              -f test-reports/coverage.xml \
              -F unittests \
              -n ${CIRCLE_BUILD_NUM}
  python-37:
    <<: *test-template
    docker:
      - image: circleci/python:3.7
  python-38:
    <<: *test-template
    docker:
      - image: circleci/python:3.8
  python-39:
    <<: *test-template
    docker:
      - image: circleci/python:3.9